@use "../../styles/helpers/functions";
@use "../../styles/helpers/variables";
@use "sass:map";

.wordDisplay {
	display: flex;
	flex-wrap: nowrap;
	gap: 2px;
	margin-block-start: 36px;
	max-width: 500px;
	width: 100%;

	.wordDisplay__letter {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #323232;
		border-bottom: 1px solid #f9f4da;
		font-size: clamp(functions.rem(18px), 2vw, functions.rem(36px));
		font-weight: map.get(variables.$font-weights, "bold");
		aspect-ratio: 1/1;
	}
}
