@use "../../styles/helpers/functions";
@use "sass:map";
@use "../../styles/helpers/variables";

$notice-clr: #7a5ea7;
$win-clr: #10a95b;
$lose-color: #ba2a2a;

.statusSection {
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 500px;
	min-height: 110px;
	padding-inline: 12px;
	margin-block-start: 20px;
  border-radius: 4px;
  font-weight: map.get(variables.$font-weights, "medium");

	.statusSection__status {
		font-size: clamp(functions.rem(18px), 2vw, functions.rem(36px));
	}

  .statusSection__statusMsg {
    font-size: clamp(0.7rem, 2vw, 1.5rem)
  }
}

.statusSection_win {
  background-color: $win-clr;
}

.statusSection_lose {
  background-color: $lose-color;
}

.statusSection_notice {
  background-color: $notice-clr;
}


