@use "./helpers/reset";

body,
html {
	width: 100vw;
	height: 100vh;
	padding: 20px;
	height: auto;
	font-family: "Handen Grotesk", sans-serif;
	display: flex;
	justify-content: center;
	background-color: #282726;
	color: #d9d9d9;
	text-align: center;
}
