@use "../../styles/helpers/variables" as vars;
@use "../../styles/helpers/functions";
@use "sass:map";

.header {
  max-width: 500px;
  font-weight: map.get(vars.$font-weights, "medium");

  .header__title {
    margin-bottom: 4px;
    font-size: clamp(functions.rem(20px), 2vw, functions.rem(40px));
  }

  .header__subtitle {
    font-size: clamp(functions.rem(14px), 2vw, functions.rem(28px));
    color: #8E8E8E;
  }
}